<h4>Add Product (Template Driven)</h4>
<button type="button" value="New Product" (click)="newProduct()" class="btn btn-primary">New Product</button>
<div class="row">
    <div class="col-lg-6">
        <form #frm="ngForm" (ngSubmit)="saveProduct(frm)">
            <div class="form-group">
                <label>Product Id</label>
                <input type="text" class="form-control" name="productId" [(ngModel)]="product.productId"
                [disabled]="isEditMode">
            </div>

            <div class="form-group">
                <label>Product Code</label>
                <input type="text" class="form-control" name="productCode" required
                 [(ngModel)]="product.productCode">
                 <div *ngIf="frm.controls['productCode']?.errors">
                    <span class="text-danger">Product code is required</span>
                 </div>
            </div>
            
            <div class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" name="productName" [(ngModel)]="product.productName" required
                pattern="^[a-zA-Z0-9]+$">
                <div *ngIf="frm.controls['productName']?.errors">
                    <span class="text-danger" *ngIf="frm.controls['productName']?.hasError('required')">Product name is required</span>
                    
                    <span class="text-danger" *ngIf="frm.controls['productName']?.hasError('pattern')">Invalida Product Name</span>

                 </div>
                    

            </div>
            
            <div class="form-group">
                <label>Product Price</label>
                <input type="text" class="form-control" name="productProce" [(ngModel)]="product.price">
            </div>
            
            <input type="submit" value="Save Product" class="btn btn-primary mt-2" [disabled]="frm.invalid"> 

        </form>
    </div>
</div>