<p>databinding works!</p>
<h2>Interpolation</h2>

<span>Product Name: {{productName}}</span>

<h2>Property Binding</h2>
<span>Product Name:</span>
<input type="text" [value]="productName">

<h2>Event Binding</h2>
<input type="button" (click)="showAlert()" value="click">

<h2>Two way Binding</h2>
<input type="text" [(ngModel)]="productCode">
<input type="text" [(ngModel)]="productCode">
<p>{{productCode}}</p>

<hr>
<input type="button" [value]="this.btnText" (click)="login()" class="btn btn-dark">